<!DOCTYPE html>
<html>
	<head>
		<title>Sign Up</title>
		<link rel="stylesheet" href="./assets/CoursePageStyles.css">
	</head>
	<body>
		<nav>
			<ul class="navBar">
				<li class="navItems"><a class="navLinks" href="/home">Home</a></li>
				<li class="navItems"><a class="navLinks" href="/SignUp">Sign-up</a></li>
				<li class="navItems"><a class="navLinks" href="/Dashboard">Dashboard</a></li>
				<li class="navItems"><a class="navLinks" href="/TaskManager">Task Manager</a></li>
				<li class="navItems"><a class="navLinks" href="/CoursePage">Course Page</a></li>
				<li class="navItems"><a class="navLinks" href="/logout">Logout</a></li>
			</ul>
		</nav>
		<h2 class="courseHeading">Welcome! This is the MongoDB Crash Course</h2>
		<div class="Lessons">
			<div class="LessonCard">
				<h3>Lesson 1</h3>
				<div class="Videos">
					<video width="600" height="" controls>
						<source src="./videos/Lesson-1.mp4" type="video/mp4">
					</video>
				</div>
			</div>
			<div class="LessonCard">
				<h3>Lesson 2</h3>
				<div class="Videos">
					<video width="600" height="" controls>
						<source src="./videos/Lesson-2.mp4" type="video/mp4">
					</video>
				</div>
			</div>
			<div class="LessonCard">
				<h3>Lesson 3</h3>
				<div class="Videos">
					<video width="600" height="" controls>
						<source src="./videos/Lesson-3.mp4" type="video/mp4">
					</video>
				</div>
			</div>
			<div class="LessonCard">
				<h3>Lesson 4</h3>
				<div class="Videos">
					<video width="600" height="" controls>
						<source src="./videos/Lesson-4.mp4" type="video/mp4">
					</video>
				</div>
			</div>
		</div>
	</body>
</html>