<!DOCTYPE html>
<html>
	<head>
		<title>LMS</title>
		<link rel="stylesheet" href="./assets/TaskManagerStyles.css">
	</head>
	<body>
		<nav>
			<ul class="navBar">
				<li class="navItems"><a class="navLinks" href="/home">Home</a></li>
				<li class="navItems"><a class="navLinks" href="/SignUp">Sign-up</a></li>
				<li class="navItems"><a class="navLinks" href="/Dashboard">Dashboard</a></li>
				<li class="navItems"><a class="navLinks" href="/TaskManager">Task Manager</a></li>
				<li class="navItems"><a class="navLinks" href="/CoursePage">Course Page</a></li>
				<li class="navItems"><a class="navLinks" href="/logout">Logout</a></li>
			</ul>
		</nav>
		<h2>Task 1</h2>
		<p>This is task 1</p>
		<h2>Task 2</h2>
		<p>This is task 2</p>
		<h2>Task 3</h2>
		<p>This is task 3</p>
	</body>
</html>